{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobile</a>
        <a href="{% url 'mobiledata' 'iphone' %}" class="list-group-item list-group-item-action" aria-current="true">iphone</a>
        <a href="{% url 'mobiledata' 'sumsung' %}" class="list-group-item list-group-item-action" aria-current="true">Sumsung</a>
        <a href="{% url 'mobiledata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 50000</a>
        <a href="{% url 'mobiledata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 50000</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
        
        {% for product in mobiles %}
            <div class="col-sm-4 text-center mb-4">
                <!--<a herf="{% url 'product-detail' product.id %}" class="btn">
                    <class="item">
                        <img src="{{product.product_image.url}}" alt="" height="300" clss="">
                        <div class="fw-bold">{{product.title}}</div>
                        <div class="fw-bold">{{product.discounted_price}}
                        <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                        </div>
                </a>-->
                <a href="{% url 'product-detail' product.id %}" class="btn"><div class="item"><img src="{{product.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{product.title}}</span><br><span class="fs-5">{{product.discounted_price}}</span></div></a>
            </div>
        {% endfor %}
    </div>
  </div>
 </div>
</div>

{% endblock main-content %}